//colors
// primary = red
// secondary = grey
//tertiary = black

$primary: #AA0025;
$primary-dark: #5F0014;
$primary-light: #CC002C;
$secondary-light: #656665;
$secondary-dark: #323232;
$fourth-color: black;
$fifth-color: white;




//font sizes
$default-font-size: 1.6rem;

//GRID

$grid-width: 102.4rem;
$gutter-verticle: 8rem;
$gutter-horizontal:6rem;