//colors
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #3998ff;
$color-tertiary-dark: #3998ff;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;



//font sizes
$default-font-size: 1.6rem;

//GRID

$grid-width: 102.4rem;
$gutter-verticle: 8rem;
$gutter-horizontal:6rem;